html, body {
  height: 100%;
  margin: 0px; }

header {
  display: block;
  width: 100%;
  height: auto;
  background-color: #984360;
  -webkit-font-smoothing: antialiased;
  padding-bottom: 20px;
  position: fixed; }
  header h1 {
    font-family: 'Gotham SSm A', 'Gotham SSm B', sans-serif;
    font-size: 50px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 300;
    padding-top: 10px;
    margin-bottom: 0px;
    color: white; }
  header nav {
    font-family: open-sans,sans-serif;
    font-size: 14px;
    font-weight: 700; }
    header nav ul {
      list-style: none;
      padding-left: 0px; }
      header nav ul a {
        display: block;
        color: white;
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: 1px;
        text-align: center;
        padding-top: 5px;
        padding-bottom: 5px;
        cursor: pointer; }
      header nav ul a.active {
        color: #e8dfcf; }

section {
  font-family: 'Open Sans', sans-serif; }
  section h2 {
    font-weight: 400; }
  section h3 {
    font-weight: 300; }
  section a {
    color: #69c4ca;
    text-decoration: none; }
  section a.button {
    font-family: 'Open Sans', sans-serif;
    background-color: #282e34;
    text-transform: uppercase;
    font-size: 12px;
    color: white;
    font-weight: 600;
    letter-spacing: 1.5px;
    border-radius: 9999px;
    -webkit-border-radius: 9999px;
    padding: 10px 15px 10px 15px;
    text-decoration: none;
    margin: 5px; }

img {
  width: 90%; }

#home {
  padding-bottom: 30px;
  padding-top: 250px; }
  #home p {
    color: white;
    margin: 0px 20px 0px 20px;
    line-height: 1.5;
    font-weight: 300;
    font-size: 24px; }

#about {
  text-align: center;
  padding-top: 20px; }

#projects {
  padding: 20px 10px 20px 10px;
  text-align: center; }
  #projects h2 {
    text-align: left; }
  #projects p {
    text-align: left; }
  #projects .project {
    padding-bottom: 25px;
    padding-top: 25px;
    border-bottom: 1px #282e34 solid; }

.gray {
  color: #808284;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 18px; }

.center {
  text-align: center;
  padding-top: 100px; }

#contact {
  padding: 20px; }
  #contact h2 {
    color: white;
    font-weight: 300; }
  #contact .right h3 {
    color: white;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 1px; }
  #contact .right a {
    color: #808284;
    line-height: 2; }

@media only screen and (min-width: 768px) {
  header h1 {
    text-align: center; }

  .container {
    width: 70%;
    margin-left: auto;
    margin-right: auto; }

  nav {
    font-family: open-sans,sans-serif;
    font-size: 14px;
    font-weight: 700;
    padding-top: 38px;
    text-align: center; }
    nav ul {
      display: inline-block;
      list-style: none;
      margin: 0;
      padding: 0; }
      nav ul li {
        display: list-item;
        float: left;
        margin: 0 25px; }
        nav ul li a {
          color: white;
          text-transform: uppercase;
          text-decoration: none;
          letter-spacing: 1px; }
        nav ul li a:hover {
          color: #e8dfcf;
          text-decoration: none; }
        nav ul li a.active {
          color: #e8dfcf;
          text-decoration: none; }

  #home {
    padding-bottom: 80px; }

  #marker {
    position: fixed;
    width: 80px;
    border-bottom: 3px solid #e8dfcf; }

  #projects {
    text-align: left; }
    #projects .project {
      border: none; }
    #projects .container {
      width: 90%; }
    #projects .buttons {
      text-align: center;
      padding-top: 30px; }
    #projects img {
      width: 400px; }
    #projects .right img {
      float: right;
      margin-left: 50px; }
    #projects .left img {
      float: left;
      margin-right: 50px; } }
@media only screen and (min-width: 1024px) {
  header {
    height: 100px;
    padding-right: 30px;
    position: fixed; }
    header h1 {
      text-align: justify;
      float: left;
      margin-top: 15px; }

  .container {
    width: 70%;
    margin-left: auto;
    margin-right: auto; }

  nav ul {
    float: right; }
    nav ul li {
      display: list-item;
      float: left;
      margin: 0 25px; }
      nav ul li a {
        color: white;
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: 1px; }
      nav ul li a:hover {
        color: #e8dfcf;
        text-decoration: none; }
      nav ul li a.active {
        color: #e8dfcf;
        text-decoration: none; }

  section {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 80px;
    font-family: 'Open Sans', sans-serif; }
    section .wide {
      width: 95%; }
    section h2 {
      font-weight: 400;
      font-size: 40px;
      margin-top: 15px; }
    section p {
      margin-bottom: 30px; }
    section a:hover {
      text-decoration: underline;
      opacity: 0.8; }
    section a.button {
      font-family: 'Open Sans', sans-serif;
      background-color: #282e34;
      text-transform: uppercase;
      font-size: 12px;
      color: white;
      font-weight: 600;
      letter-spacing: 1.5px;
      border-radius: 9999px;
      -webkit-border-radius: 9999px;
      padding: 10px 15px 10px 15px;
      text-decoration: none;
      margin: 5px; }

  #home {
    padding-top: 100px;
    padding-bottom: 50px;
    text-align: left; }
    #home p {
      font-size: 38px;
      text-decoration: none;
      padding: 50px;
      margin-top: 70px; }

  #about {
    text-align: left; }
    #about img {
      float: left;
      margin: 30px;
      margin-right: 70px;
      width: 600px; }
    #about h3 {
      font-size: 25px;
      padding-right: 100px;
      margin-top: 0;
      margin-bottom: 0;
      color: #808284; }

  #projects .project {
    padding-bottom: 50px;
    border: none;
    text-align: left; }
    #projects .project .container {
      width: 70%;
      margin-left: auto;
      margin-right: auto; }
  #projects .right img {
    float: right;
    width: 550px;
	height: 400px;
    margin-left: 50px; }
  #projects .left img {
    float: left;
    width: 550px;
    margin-right: 50px; }
  #projects .buttons {
    text-align: left;
    padding-top: 0px; }

  #contact {
    padding-top: 50px;
    padding-bottom: 80px; }
    #contact h3 {
      font-size: 25px;
      padding-right: 100px;
      margin-top: 0;
      margin-bottom: 0;
      color: white;
      padding-bottom: 10px; }
    #contact .left {
      display: inline-block;
      margin-left: 150px; }
    #contact .right {
      display: inline-block;
      margin-right: 150px;
      margin-top: 50px; }

  .gray {
    font-size: 25px; }

  #marker {
    position: fixed;
    width: 80px;
    border-bottom: 3px solid #e8dfcf; } }
img {
  border: #282e34 7px solid; }

#home {
  background-color: #984360; }

#about {
  background-color: white; }

#projects {
  background-color: #e8dfcf; }

#more-projects {
  background-color: #808284; }

#contact {
  background-color: #984360; }
