@media (max-width: 500px){
#about{
	background-image: url("pattern3.svg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
}
#gallery{
	background-size: cover;
	text-align:center;
	padding-top: 3%;
	padding-bottom: 2%;
	padding-right: 3%;
	background-image: url("pattern2.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	font-family: courier;
}
.thumbnail {	
	max-width: 100%;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 10%;
	border:0 none transparent;	
	background-color: transparent;
	position: relative;
	background-position: center;
}
.picme{
	margin-top: 5%;
	margin-bottom: 5%;	
	max-width: 100%;
	display: block;
}
.header{
	text-align: center;
	font-family: courier;
	padding-top: 10%;
}}
.sub-header, .navbar{
	text-align: center;
	font-family: courier;
}
.btn:hover{
	-webkit-transform: translateY(-8px);
	transform: translateY(-8px);
	transition: all .25s ease;
	color: salmon;
}
.jumbotron{
	height:100%;
	background-image: url("pattern.svg");
	-webkit-background-size:cover;
	-moz-background-size: cover;
	-o-backgorund-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	margin: auto;
}
.quote{
	font-family: monotype corsiva;
	color: #ffd9b3;
	text-align: center;
	padding-top: 50px;
	font-size: 30;
}
@media (min-width: 501px){
.header{
	text-align: center;
	font-family: courier;
	padding-top: 10%;
}
.header2, #about p{
	font-family: courier;	
	text-align: center;
	margin-top: 5%;
}
#about p{
	font-size: 1.5em;
}
.picme{
	margin-top: 5%;
	margin-bottom: 5%;	
	width: 550px;
	float: right;
	display: block;
}
.picme:hover, .picme:focus, .picme:active {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  transition: all .5s ease;
}
#about{
	background-image: url("pattern3.svg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
}
#gallery{
	background-size: cover;
	text-align:center;
	padding-top: 3%;
	padding-bottom: 2%;
	background-image: url("pattern2.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	font-family: courier;
}
.thumbnail {
	width: auto;
	height: auto;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 10%;
	border:0 none transparent;	
	background-color: transparent;
	position: relative;
	background-position: center;
}}
.thumbnail:hover {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.thumbnail:hover, .thumbnail:focus, .thumbnail:active {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  transition: all .5s ease;
}
#contact {
	height:10%;
	background-color: salmon;
	text-align: center;
}
body{
	background-color: salmon;
}
#contactblurb{
	font-size: 20;
	text-align: center;
}
#icon:hover, #icon:focus, #icon:active{
	-webkit-transform: scale(1.5);
	-webkit-transform: translateY(-9px);
	transform: scale(1.5);
	transform: translateY(-9px);
	transition: all .5s ease;
}
