#header{
	text-align: center;
	font-family: courier;
	padding-top: 10%;
}
#sub-header{
	text-align: center;
	font-family: courier;
}
#navbar{
	text-align: center;
	font-family: courier;
	
}
.jumbotron{
	height:100%;	
	background-image: url("pattern.svg");
}
#about {
	text-align: center;	
	height:100%;
	background-image: url("pattern3.svg");
	padding-top: 10%;
	padding-left: 10%;	
}
#gallery{
	background-size: 400% 400%;
	text-align:center;
	padding-left:150;
	padding-right: 50;
	padding-top: 3%;
	padding-bottom: 2%;
	background-image: url("pattern2.svg");
	font-family: courier;
}
.thumbnail {
	width: 300px;
	height: 300px;
}
#row2 {
	text-align:center;
	padding-left:215;
	padding-right: 50;
}
#contact {
	width:100%;
	height:10%;
	background-color: salmon;
	text-align: center;
}
body{
	background-color: salmon;
}
.blurb{
	border: 5px solid salmon;
	font-size: 50px;
	display: inline-block;
	background-color: bisque;
	padding-left: 3%;
	padding-right: 3%;
	font-family: courier;
	height: 300px;
}

.blurb p{
	padding-left: 2%;
	padding-right: 2%;
	font-size: 20px;
	text-align: center;
}

