@import url(fonts/minimal.otf);

html{
	background-image:url(images/backgrounds/13.jpg);
}
span{
	font-size: 1.1em;
	color: #27a1b4;
}
div{
	border-radius: 2%;
	font-size: 1em;
	font-weight: bold;
	text-align: center;
	box-shadow: 5px 5px 5px #888;
	display: inline-block;
	position: center;	
}
.box{
	background-color: #ffdb99 ;
	height: 200px;
	width: 825px;
	margin-left: 20%;
	margin-right: 20%;
	border-radius: 2%;	
}
.aboutbox{
	background-color: #ffdb99 ;
	height: 320px;
	width: 825px;
	margin-left: 20%;
	margin-right: 20%;
	border-radius: 2%;
}
#box2{
	background-color: #ffdb99;
	height: 768px;
	width: 825px;
	margin-left: 20%;
	margin-right: 20%;
	border-radius: 2%;
}
.blurb, .contact{
	text-align: left;
	margin-left: 20%;
	margin-right: 20%;
}
.currentwork, .about{
	text-align: left;
	margin-left: 5%;
	color: gray;
	
}
.projects{
	text-align: left;	
}
#links{
	color: #27a1b4;
}
.light{
	background-color: #ffdb99;
	height: 2000px;
	width: 825px;
	margin-left: 20%;
	border-radius: 2%;
}
a{
	text-decoration:none;
}
#name{
	font: strong;
	font-size: 1.3em;
}