*{
	font-family: 'Roboto';
	/*Makes it so that the scrolling is more smooth on mobile*/
	-webkit-overflow-scrolling: touch;
}
html, body {
	background-image: radial-gradient(ellipse farthest-corner at left top, #cfe7fa 0%, #6393c1 100%);
	font-family: 'Roboto';
}
h1{
	text-align: center;
}
.mdl-mini-footer, .mdl-mini-footer__right-section  ul li a{
	background-image:url('https://kantelabs.github.io/images/bg2.jpg') ;
	background-size: cover;
	font-size: 1.3em;
}
/*Css for the header and menu button*/
.is-active{
	border-bottom: 2px black solid;
}
/*Css for home section*/
.home-banner p {
	font-size:3.5em;
}
.home-banner h4 {
	border-top: 1px black solid;
	margin-left: 70%;
}
.home-banner {
	padding-top: 25%;
	margin-right: 12%;
	text-align: right;
	color: #fff;
}
#home {
	height: 100%;
	background: url('https://kantelabs.github.io/images/bg2.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
/*Css for about section*/
.about-image.mdl-card{
	width: auto; height: auto;
	margin: auto;
}
.about-text.mdl-card{
	width: auto; height: auto;
	margin: auto;
	padding-left: 10;
}
.about-max-width{
	max-width: auto;
	height: auto;
}
/*Css for skills section*/
.skills-image.mdl-card{
	margin: auto;
	width: 200px;
}
.skills-image .mdl-card__media{
	background: white;
	background-color: white;
	margin: auto;
	width: 100%;
}
.skills-max-width{
	max-width: auto;
	height: auto;
}
.mdl-card:hover, .mdl-card:focus, .mdl-card:active{
	-webkit-transform: translateY(-15px);
	transform: translateY(-15px);
	transition: all .75s ease;
}
/*Css for Portfolio section*/
.mdl-cell .mdl-card {
	width: 320px;
	height: 320px;
}
img.article-image {
	width: 100%;
	height: auto;
}

.portfolio-max-width {
	max-width: 1000px;
	height: auto;
}
.portfolio-card .mdl-card__title {
	padding-bottom: 0;
}
.mdl-cell > .mdl-card__title {
	color: #fff;
	background: skyblue;
}








