html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
*{
	font-family: 'Roboto';
}
h1{
	text-align: center;
}
/*Portfolio section*/
.overlay {
	text-align: center;
}
.item .overlay {
	position: absolute;
	top:0;
	background-color: rgba(169, 68, 66, 0.2);
	z-index: 1;
	width: 100%;
	height: 100%;
}
@media screen and (max-width: 600px){
	
.caption {
	display: inline-block;
	vertical-align: text-bottom;
	position: relative;
	text-transform: uppercase;
	font-weight: bold;
	color: #fff;
	font-size: 1.5rem;
	letter-spacing: 3px;
	text-align: center;
	width: 100%;
	height: 100%;
	margin-top: -1%;
	text-decoration: none;
}
	.portfolioImg{
			position: absolute;
			/* width: 100%; */
			height: 15em;
	}
	.portfolioFlex{
		display: flex;
		flex-flow: column wrap;
		justify-content: space-around;
		align-items: flex-end;
	}
	div#portfolioGrid {
		position: relative;
	  z-index: 2;
	  padding: 0;
	  padding-bottom: 30rem;
	  *zoom: 1;
	  width: auto;
	  max-width: 100%;
	  float: none;
	  display: block;
	  margin-right: auto;
	  margin-left: auto;
	  padding-left: 0;
	  padding-right: 0;
	}
	.item {
		margin: 5px;
		margin-right: 1.8em;
		width: 100%;
		height: 15em;
		margin-top: 10px;
		margin-bottom: 0.8%;
		overflow: hidden;
		position: relative;
		line-height: 15em;
	}
}
@media screen and (min-width: 601px){
	.portfolioImg{
		position: absolute;
		width: 100%;
		height: 100%;
		/* left: 1em; */
		/* top: -1.3em; */
	}
	.portfolioFlex{
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		width: 100%;
		padding: 0 3em;
	}
	div#portfolioGrid {
		position: relative;
	  z-index: 2;
	  padding: 0;
	  padding-bottom: 30rem;
	  *zoom: 1;
	  width: auto;
	  max-width: 100%;
	  float: none;
	  display: block;
	  margin-right: auto;
	  margin-left: auto;
	  padding-left: 0;
	  padding-right: 0;
	}
	.item {
		margin-left: -2em;
		margin-right: -2em;
		width: 53.6%;
		height: 15em;
		margin-top: 10px;
		margin-bottom: 0.8%;
		overflow: hidden;
		position: relative;
		line-height: 150px;
	}
	
.caption {
	display: inline-block;
	vertical-align: text-bottom;
	position: relative;
	text-transform: uppercase;
	font-weight: 800;
	color: #fff;
	font-size: 2.5rem;
	letter-spacing: 3px;
	text-align: center;
	width: 100%;
	height: 100%;
	margin-top: 1.5em;
	text-decoration: none;
}
}
@media screen and (min-width: 801px){
	
.caption {
	display: inline-block;
	vertical-align: text-bottom;
	position: relative;
	text-transform: uppercase;
	font-weight: 800;
	color: #fff;
	font-size: 2.4rem;
	letter-spacing: 3px;
	text-align: center;
	width: 100%;
	height: 100%;
	margin-top: 2.2em;
	text-decoration: none;
}
	.portfolioFlex{
		display: flex;
		flex-flow: row wrap;
		justify-content: space-around;
	}
	div#portfolioGrid {
		position: relative;
	  z-index: 2;
	  padding: 0;
	  padding-bottom: 30rem;
	  *zoom: 1;
	  width: 100%;
	  max-width: 100%;
	  float: none;
	  display: inline-flex;
	  margin-right: auto;
	  margin-left: auto;
	  padding-left: 0;
	  padding-right: 0;
	}	
	.item {
		text-align: inherit;
		width: 32.8%;
		margin-top: 10px;
		margin-bottom: 0.8%;
		overflow: hidden;
		position: relative;
		margin-left: -2em;
		margin-right: 1em;
		height: 20em;
	}	
	.item:hover .imageHolder {
		-webkit-transform: scale(1.1, 1.1) !important;
		transform: scale(1.1, 1.1) !important;
	}
}
.thumbnail:hover, .thumbnail:focus, .thumbnail:active{
	transform: translateY(-15px);
	transition: all .75s ease;
}